extends ../layout

block content

  h1 Log In Page
  form(action='/accounts/login', method='post')
    input(type='text', name='username', placeholder='type in username')
    input(type='text', name='password', placeholder='type in password')
    button(type='submit') Log In
