extends ../layout

block content
  h1 Registration Page
  form(action='/accounts/register', method='post')
    input(type='text', name='username', placeholder='type in username')
    input(type='text', name='password', placeholder='type in password')
    button(type='submit') Register
